{% extends 'emails/base_email.html' %}
{% block subject %}Ваша запись отменена{% endblock %}
{% block header_note %}Отмена записи{% endblock %}
{% block content %}
  <p>Здравствуйте, {{ user.get_full_name|default:user.username }}!</p>
  <p>Ваша запись была отменена.</p>
  <ul>
    <li>Филиал: <strong>{{ service_center.address }}</strong></li>
    <li>Услуга: <strong>{{ service.name }}</strong></li>
    <li>Дата и время: <strong>{{ scheduled_date }} {{ scheduled_time }}</strong></li>
    <li>Авто: <strong>{{ car }}</strong></li>
  </ul>
  <p class="muted">Если это произошло по ошибке, пожалуйста, свяжитесь с нами.</p>
{% endblock %}
